@font-face {
	font-family: 'TheSansregular';
	src: url('font/TheSans-Plain.eot');
	src: url('font/TheSans-Plain.eot?#iefix') format('embedded-opentype'),
		url('font/TheSans-Plain.woff') format('woff'),
		url('font/TheSans-Plain.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TheSans';
	src: url('font/TheSans-Bold.eot');
	src: url('font/TheSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('font/TheSans-Bold.woff') format('woff'),
		url('font/TheSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
* html .clearfix {
	height: 1%;
	overflow: visible;
}
* + html .clearfix {
	min-height: 1%;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
.main_img_promo{
position:relative;
}
.joingame{
position:absolute;
width:350px;
height:111px;
cursor:pointer;
background:url("images/store.png") no-repeat scroll 0 0;
bottom:165px;
left:50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-o-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}
.gui_sharing_menu.hb_secondaryColorBg{
display:none;
}
.tab li{
float:right;
font-size:25px;
margin-right:15px;
}
.tab li:first-child{
margin-right:0px;
}
.tab {
    float: right;
    margin-right:34px;
    margin-top: 25px;
}
.tab li a{
color:#0F549D;
}

.tab li a.selected {
color:#FCB813;
border-bottom:1px solid #FCB813;
    padding-bottom: 9px;
}
.myapp .awesome *,.myapp .awesome .hb_mainFont,.myapp .awesome .hb_mainFont *{
font-family: 'TheSansregular' !important;
}

#form_add{
    margin: 0 auto;
    width: 470px;
	border-bottom:none;
}
.gui_form .tabled_name > *,.gui_form_owner .tabled_name > * {
    width: 100%!important;
	display:block!important;
}

#form_add input {
    float: left;
	border:1px solid #0F549D;
    width: 68%;
}
#form_add label{
float:right;
width:123px;
font-size:20px;
text-align:left;
}
.awesome .gui_form .tabled_name > *,.awesome .gui_form_owner .tabled_name > *{
padding-left:0px !important;
}
.moreinfo {
    display: none;
}
#UserDropbox {
    width: 97% !important;
}
.form_register  > #promo_form_introduction figure{
width:100%;
text-align:center;
margin-top:30px;
margin-bottom:30px;
}
.form_register  > #promo_form_introduction figure img{
display:inline;
}
.friespic figure{
width:100%;
text-align:center;
}
.friespic figure img{
display:inline-block;
}
.friespicfoote figure{
padding:5%;
width:90%;
text-align:left;
}
.friespicfooter{
text-align:left;
}
.friespicfoote figure img{
display:inline-block;
}
#promo_12623 .gui_light_gray_container{
background:none;
}
.gui_module.gui_leveled_text.gui_shadowed_text {
    border-bottom: medium none;
}
.awesome .info_video {
    display: block!important;
    float: left;
    width: 70% !important;
}

.awesome .info_video .video_origin {
    left: -108px;
    position: absolute;
    top: 3px;
}
.gui_form .tabled_name{
margin-bottom:0px !important;
}
.awesome .info_video > div {
    display: block !important;
}
#ep_main_container, .admin_link{
height:auto !important;
}
.logo{
background:url("images/logo.png") no-repeat scroll 0 0;
width:160px;
height:62px;
float:right;
}

#divbotosubmit > input {
    background: #0f549d none repeat scroll 0 0;
    border: 1px solid #fcb813;
}
#UserVideo {
    width: 96% !important;
}
.form_register .gui_form #upload_dropbox,.form_register .gui_form_owner #upload_dropbox{
padding:0px !important;
}
.header.clearfix {
    padding:29px 60px;
}

.gui_form div.input, .gui_form_owner div.input{
    height: 42px;
}
.popup1-cnt {
   background: #fff none repeat scroll 0 0;
    left: 50%;
    margin: 0 auto 0 -405px;
    padding: 30px 28px;
    position: absolute;
	z-index:100;
	display:none;
    top: 100px;
    width: 811px;
}
.popup2-cnt{
   background: #fff none repeat scroll 0 0;
    left: 50%;
    margin: 0 auto 0 -405px;
    padding: 30px 28px;
	z-index:100;
    position: absolute;
    top: 100px;
	display:none;
    width: 811px;
}
.tab li a:hover{
text-decoration:none !important;
}

.content-pop2.clearfix > article {
     margin: 0 auto 50px;
    text-align: center;
    width: 406px;
}

.entries_list.bricked_entries_list.wrap.whiteBg {
    margin: 0 auto;
    width: 676px;
}
.entry_actions.overlayered.entry_actions_in_row {
    width: 100% !important;
}
.video {
    width: 100% !important;
}
.ep-play::before{
content:""!important;
}
.play_video_btn.ep-play {
    background: url("images/video-play.png") no-repeat scroll 0 0 !important;
    border: medium none !important;
	    height: 45px !important;
    width: 45px !important;
}
.single_entry {
    margin-right: 30px !important;
	 margin-left: 0 !important;
    width: 192px !important;
	border:2px solid #FCB813;
}
.entries_list.bricked_entries_list.wrap.whiteBg .single_entry:nth-child(3n+1){
margin-right:0px !important;
}
.content-pop2.clearfix > figure {
    text-align: center;
}
.epBox.epModule.whiteBg #flashMessage,.epBox.epModule.whiteBg  #flashMessage_overlay{
display:none;
}
.popup2 .headerpop figure{
width:100%;
text-align:center;
}
.content-pop2 article{
color:#0F549D;
}

.friespicfooter img {
    position: relative;
    z-index: 10000;
}
.popup2 .headerpop figure img{
display:inline-block;
}
.content-pop1 ul{
float:right;
list-style:none;
width:290px;
}
.content-pop1 ul li bdo{
   background: #0f549d none repeat scroll 0 0;
    border-radius: 100px;
    color: #fff;
    float: right;
    font-size: 25px;
    height: 32px;
    padding-top: 3px;
    text-align: center;
    width: 35px;
}
.content-pop1 ul li{
margin-top:20px;
}
.content-pop1 ul li article h1{
color:#0F549D;
}
.content-pop1 ul li article span{
color:#FCB813;
}

.content-pop1 ul li article {
    direction: rtl;
    float: left;
    margin-right: 20px;
    text-align: right;
    width: 235px;
}

.videopop {
    float: left;
    margin-top: 185px;
}

.videopop > span {
    color: #0f549d;
    display: block;
    font-size: 20px;
    margin-top: 8px;
    text-align: center;
}
.headerpop figure {
    margin-bottom: 40px;
    text-align: center;
}

.headerpop img {
    display: inline;
}